# macOS system files
.DS_Store

# Data and results directories
/data/
/results/
/scripts/
/.vscode
/docs/
/data/
/notebookes/


# Jupyter Notebooks
.ipynb_checkpoints/
notebooks/MRIs*

# Python
__pycache__/
*.so

# Virtual environments
venv/
*.venv
env/
*.env

# other project folders
.gitattributes
src.egg-info
scalpel.egg-info/

