# macOS system files
.DS_Store

# Data and results directories
/data/
/results/

# Jupyter Notebooks
.ipynb_checkpoints/

# Python
__pycache__/
*.so

# Virtual environments
venv/
*.venv
env/
*.env

# IDEs and editors
.vscode/


